
.cabecalho-menu-hamburger {
    background-image: url('/assets/img/Menu.svg');
    width: 24px;
    height: 24px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container-cabecalho {
    display: flex;
    align-items: center;
}

.container-imagem {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container-botao:checked ~ .lista-menu {
    display: block;
}

.lista-menu-titulo, .lista-menu-item {
    background-color: var(--branco);
    padding: 1em;
}

.lista-menu-titulo {
    color: var(--laranja);
}

.lista-menu-link {
    background: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

