@import url("/assets/css/header.css");

:root {
    --cor-de-fundo: #EBECEE;
    --cor-do-cabecalho: #FFFFFF;
}

body {
    background-color: var(--cor-de-fundo);
}

.cabecalho {
    background-color: var(--cor-do-cabecalho);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
